.container {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-image: url("../imagens/cosmos.jpg");
  background-size: cover;
  overflow: hidden;
}

.title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  text-align: center;
  color: white;
}

.clock {
  display: flex;
}